<h1>Listagem de Pesquisa</h1>

{{#each questionario}}

<p>{{Data_Inclusao}}</p>
<p>{{Email}}</p>
<p>{{Question_01}}</p>
<p>{{Perg_Op_A_01}}</p>
<p>{{Resp_Op_A_01}}</p>
<p>{{Rcdf_Op_A_01}}</p>

<hr>

{{/each}}

